* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(245, 233, 220, 0.685);
}

.container {
  max-width: 405px;
  padding: 1.5rem;
  margin: auto;
}

.header,
h1,
p {
  text-align: center;
}

.grid {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .btn {
    padding: 1.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1/1;
    // background-color: #ccc;
    background: url('../images/flasche.png') no-repeat center center/cover;

    transition: all 0.3s ease-in-out, background 0.3s ease-in-out;

    &:hover {
      // transform: scale(1.03);
    }
  }

  .girl {
    background: url('../images/maedl.png') no-repeat center center/cover;
  }

  .boy {
    background: url('../images/bub.png') no-repeat center center/cover;
  }

  .btn-main {
    z-index: 1;
  }

  .scale {
    transform: scale(1.2) !important;
    border: 1px solid rgb(245, 233, 220);
    animation: blinking 2s 1s;
  }
}

@keyframes blinking {
  16% {
    opacity: 0;
  }

  32% {
    opacity: 1;
  }

  48% {
    opacity: 0;
  }

  64% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.burst {
  animation: burst 0.3s ease-in-out;
}

@keyframes burst {
  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.5);
    opacity: 0;
  }

  75% {
    transform: scale(1.03);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
